// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url("./fonts/museo/museo.css");
@import url("./fonts/museo-sans/museo-sans.css");
@import url("./fonts/fira-code/fira-code.css");
@import url("./fonts/fira-sans/fira-sans.css");
@import url("./fonts/jetbrains-mono/jetbrains-mono.css");

// Company Colors
$companyBlueLight: #5561a6;
$companyBlue: #4640a8;
$companyBlueDark: #26235c;
$companyHipsterBlack: #1a1a1a;

$backgroundColor: #fff;

$mainFontSize: 20pt;
$figCaptionFontSize: 16pt;
$mainColor: $companyHipsterBlack;
$headingColor: $companyBlueDark;
$headingColorSub: $companyBlue;
$headingTextTransform: none;

$mainFont: "Museo", "Palatino Linotype", "Book Antiqua", "Palatino", serif;
$headingFont: "Museo", "Palatin Linotype", "Book Antiqua", "Palatino", serif;
$linkColor: $companyBlueLight;
$linkColorHover: lighten($companyBlueLight, 20%);

// Image
$imgBorderSize: 0;

// Heading Fonts
$headingFontWeight: bold;
$heading1Size: 60pt;
$heading2Size: 50pt;
$heading3Size: 40pt;
$heading4Size: 30pt;

// Code
$codeFont: "JetbrainsMono NFM";
$codeFontSize: 16pt;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Export some missing variables to CSS.
:root {
  --r-code-font-size: #{$codeFontSize};
  --r-code-font: #{$codeFont};
}

// Logo
.backgrounds {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJTRFNDX0xvZ28iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE4NjEuODkgNTExLjY4Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzkwY2E0Mjt9LmNscy0ye2ZpbGw6IzU1NjFhNjt9LmNscy0ze2ZpbGw6IzI2MjM1Yzt9PC9zdHlsZT48L2RlZnM+PGcgaWQ9IlNEU0NfTG9nb19SR0IiPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0ibTk1MC4yMiw4Mi40aDE2MS44N2M1Mi40NCwwLDk1LjgxLDQyLjg2LDk1LjgxLDk1LjgxdjE2Ny40MWMwLDUyLjk1LTQzLjM3LDk1LjgxLTk1LjgxLDk1LjgxaC0xNjEuODdWODIuNFptMTY0Ljg5LDI5My45OGMxNS4xMywwLDI3LjIzLTEyLjYxLDI3LjIzLTI3Ljczdi0xNzMuNDZjMC0xNS4xMy0xMi4xLTI3LjczLTI3LjIzLTI3LjczaC05OS4zNHYyMjguOTNoOTkuMzRaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJtNjI0LjMsMzU3LjIxbDYxLjUyLTE2LjE0LDMuMDMsOS41OGM1LjA0LDE2LjY0LDEyLjYsMjUuNzIsMjcuNzMsMjUuNzJoNzMuMTJjMTQuNjIsMCwyNi43Mi0xMi42MSwyNi43Mi0yNy43M3YtMTcuNjVjMC0xMS4wOS03LjA2LTIxLjY4LTE3LjE0LTI0LjJsLTExMy40Ni0zMC43NmMtMzUuOC05LjU4LTYwLjUxLTQ1Ljg5LTYwLjUxLTg1LjIydi0xNi42NGMwLTUyLjk0LDM4LjgzLTkxLjc3LDkxLjc4LTkxLjc3aDcwLjU5YzQ4LjkxLDAsODguNzUsMzYuMzEsOTQuOCw4My43bC02MS4wMSwxNi42NC0zLjAzLTkuNThjLTUuMDQtMTYuNjQtMTIuNjEtMjUuNzItMjcuMjMtMjUuNzJoLTczLjEyYy0xNS4xMywwLTI3LjIzLDEyLjYxLTI3LjIzLDI3LjczdjEyLjYxYzAsMTcuMTQsOS41OCwyNy4yMywyNi43MiwzMS43N2w5NC4zLDI0LjJjMzkuMzMsMTAuMDgsNjguNTgsNDQuMzcsNjguNTgsODcuMjR2MTMuMTFjMCw1My45NS00MC4zNCw5Ny4zMi05NC4zLDk3LjMyaC02Ni4wNmMtNDkuNDIsMC04OS43Ni0zNi4zMS05NS44MS04NC4yMVoiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Im0xMjc5LjY3LDM1Ny4yMWw2MS41Mi0xNi4xNCwzLjAzLDkuNThjNS4wNCwxNi42NCwxMi42LDI1LjcyLDI3LjczLDI1LjcyaDczLjEyYzE0LjYyLDAsMjYuNzItMTIuNjEsMjYuNzItMjcuNzN2LTE3LjY1YzAtMTEuMDktNy4wNi0yMS42OC0xNy4xNC0yNC4ybC0xMTMuNDYtMzAuNzZjLTM1LjgtOS41OC02MC41MS00NS44OS02MC41MS04NS4yMnYtMTYuNjRjMC01Mi45NCwzOC44My05MS43Nyw5MS43OC05MS43N2g3MC41OWM0OC45MSwwLDg4Ljc1LDM2LjMxLDk0LjgsODMuN2wtNjEuMDEsMTYuNjQtMy4wMy05LjU4Yy01LjA0LTE2LjY0LTEyLjYxLTI1LjcyLTI3LjIzLTI1LjcyaC03My4xMmMtMTUuMTMsMC0yNy4yMywxMi42MS0yNy4yMywyNy43M3YxMi42MWMwLDE3LjE0LDkuNTgsMjcuMjMsMjYuNzIsMzEuNzdsOTQuMywyNC4yYzM5LjMzLDEwLjA4LDY4LjU4LDQ0LjM3LDY4LjU4LDg3LjI0djEzLjExYzAsNTMuOTUtNDAuMzQsOTcuMzItOTQuMyw5Ny4zMmgtNjYuMDZjLTQ5LjQyLDAtODkuNzYtMzYuMzEtOTUuODEtODQuMjFaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJtMTYwNC4yMiwzNDUuNjJ2LTE2Ny40MWMwLTUyLjk1LDQyLjg2LTk1LjgxLDk1LjgxLTk1LjgxaDY2LjU2YzQ4LjkxLDAsODguNzUsMzYuMzEsOTUuMyw4My43bC02MS41MiwxNi42NC0zLjUzLTkuNThjLTYuMDUtMTYuNjQtMTIuMS0yNS43Mi0yNy4yMy0yNS43MmgtNzMuMTJjLTE1LjEzLDAtMjcuMjMsMTIuNjEtMjcuMjMsMjcuNzN2MTczLjQ2YzAsMTUuMTMsMTIuMSwyNy43MywyNy4yMywyNy43M2g3Mi4xMWMxNS4xMywwLDIzLjctOC41NywyOC4yNC0yNS43MmwyLjUyLTkuNTgsNjEuNTIsMTYuMTRjLTYuMDUsNDcuOS00NS44OSw4NC4yMS05NC44LDg0LjIxaC02Ni4wNmMtNTIuOTUsMC05NS44MS00Mi44Ni05NS44MS05NS44MVoiLz48ZyBpZD0iVHJpYW5nbGUiPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0ibTQ0Mi40Myw0ODkuNzljLTI1LjE5LDEzLjg1LTU0LjQ0LDIxLjg5LTg2LjQ5LDIxLjg5aC0xNzAuNzNjLTkzLjUzLDAtMTUxLjk5LTEwMS4yNS0xMDUuMjMtMTgyLjI0bC43Ni0xLjMxLDgxLjMzLTE0MC44NmMyMy42NC00MC41NSw4Mi4zMy00MC40NiwxMDUuODMuMjRsLTgxLjE4LDE0MC42MmMtMjMuNTUsNDAuNzksNS44OCw5MS43OCw1Mi45OCw5MS43OGgxNjMuODljOTMuMzcsMCwxNTEuOC0xMDAuOTQsMTA1LjQ0LTE4MS44NmwyLjQ0LDQuMjRjNTMuMTEsOTEuOTgsMTQuNDMsMjAxLjYzLTY5LjA0LDI0Ny41MVoiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Im0zNDkuMDksMzI4LjEzbC04MS4xOS0xNDAuNjJjLTIzLjUtNDAuNzEtODIuMTgtNDAuNzktMTA1LjgzLS4yNGwtODEuMzMsMTQwLjg2LS43NiwxLjMxYy00Ni43Niw4MC45OSwxMS43LDE4Mi4yNCwxMDUuMjMsMTgyLjI0aC01LjM0QzczLjY2LDUxMS42OC0xLjk2LDQyMy4zNi4wNCwzMjguMTNjLjU5LTI4LjU4LDguMTktNTcuNzgsMjQuMDMtODUuNDFMMTA5LjcsOTQuNDFjNDYuNzYtODAuOTksMTYzLjY3LTgwLjk5LDIxMC40MywwbC43NiwxLjMyLDgxLjE4LDE0MC42MmMyMy41NSw0MC43OC01Ljg4LDkxLjc4LTUyLjk4LDkxLjc4WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0ibTUwOS4wMywyMzguMDRsLS4yMi0uMzgtODUuOTktMTQ4LjkyYy0xNS45NS0yNy4yNC0zNy4zMS00OC4yMS02MS41OC02Mi44OUMyNzkuNzYtMjMuNSwxNjUuNDYtMi4xOCwxMTIuMzYsODkuNzlsLTIuNjYsNC42MmM0Ni43Ni04MC45OSwxNjMuNjctODAuOTksMjEwLjQzLDBsLjc2LDEuMzIsODEuMTgsMTQwLjYyYzIzLjU1LDQwLjc4LTUuODgsOTEuNzgtNTIuOTgsOTEuNzhoLTE2Mi4zN2MtMjMuNTUsNDAuNzksNS44OCw5MS43OCw1Mi45OCw5MS43OGgxNjMuODljOTMuMzcsMCwxNTEuOC0xMDAuOTQsMTA1LjQ0LTE4MS44NloiLz48L2c+PC9nPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right 1em top 1em;
  background-size: 10em;
}

.reveal {
  // Linksbünding
  .slides {
    text-align: left;
  }

  .slide-number {
    font-size: 16pt;
    left: 8px;
    right: auto;
  }

  // Code in Lists
  ul {
    display: block;
  }

  // Inline Code
  code {
    border-radius: 7pt;
    background: #ededed;
    padding: 0ex;
    padding-left: 0.3ex;
    padding-right: 0.3ex;
  }

  // Highlight lines should only grey out a little.
  code.has-highlights tr:not(.highlight-line) {
    opacity: 0.8 !important;
  }

  // Block Code
  pre {
    border-radius: 4pt;
    font-size: $codeFontSize;
    width: fit-content;
    code {
      font-size: inherit;
      line-height: normal;
      color: #e6e6e6;
      background: #232323;
      padding: 1ex;
      padding-left: 2ex;
      padding-right: 2ex;
    }
  }

  // Menu (Plugin)
  .slide-menu-button {
    bottom: 50px !important;
  }

  // Schriftgrössen
  .size-h1 {
    font-size: $heading1Size;
  }
  .size-h2 {
    font-size: $heading2Size;
  }
  .size-h3 {
    font-size: $heading3Size;
  }
  .size-h4 {
    font-size: $heading4Size;
  }

  .progress {
    height: 8px;
  }

  .slide-number {
    border-top-left-radius: 2pt;
    border-top-right-radius: 2pt;
  }

  // Some keyboard styling for `<kbd>A</kbd>`
  // or classes `keyboard`
  kbd,
  .keyboard {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }

  h3,
  h4,
  h5,
  h6 {
    color: $companyBlueLight;
  }

  // Set spacing for elements which do not have margin.
  ul + h2,
  ul + h3,
  ul + h4,
  ul + h5,
  ul + h6 {
    margin-top: var(--r-block-margin);
  }

  // Figure Caption
  figcaption {
    font-size: $figCaptionFontSize;
    font-style: italic;
  }
}
