<style type="text/css">
  /* Code Focus */
  .reveal .line {
    display: block;
  }
  .reveal .line.focus {
    background: #383838;
  }

  /* Column divs */
  .reveal .columns {
    gap: min(0.5vw, 1em);
  }

  /* Some how code blocks are only 400px max size */
  .reveal pre code {
    max-height: initial;
  }

  .reveal pre.smaller-code {
    font-size: calc(0.9 * var(--r-code-font-size)) !important;
  }

  .emph {
    color: #6d7dd8;
  }

  /* Highlight the lines */
  .reveal code .highlight-line {
    background:#323232
  }
  .reveal code table {
    witdh: 100%
  }

  /* Tweak comments color */
  .hljs-comment {
    color: #5e5e5e;
  }

  .hljs-keyword {
    font-weight: 600;
  }


  .center-content {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


</style>
