<style type="text/css">
  /* Code Focus */
  .reveal .line {
    display: block;
  }
  .reveal .line.focus {
    background: #383838;
  }

  /* Column Divs */
  .reveal .columns {
    gap: min(2vw, 1em);
  }

  .reveal pre {
    box-shadow: none !important
  }

  /* Border color for non-compiling stuff */
  .reveal pre.no-compile code {
    border-top: none;
    border-inline: 0.4rem solid red;
    border-right: none;
  }

  .reveal pre.does-compile code {
    border-top: none;
    border-inline: 0.4rem solid green;
    border-right: none;
  }

  /* Some how code blocks are only 400px max size */
  .reveal pre code {
    max-height: initial;
  }

  .reveal .column pre {
    width: 100%;
  }

  .emph {
    color: #6d7dd8;
  }

  .small {
    font-size: smaller;
  }

  /* Highlight the lines */
  .reveal code .highlight-line {
    background:#323232
  }
  .reveal code table {
    width: 100%
  }

  /* No paragraph margin after `.p-no-margin`*/
  .reveal .p-no-margin p,
  .reveal .p-no-margin img {
    margin: 0;
  }

  /* No margin in code blocks */
  .reveal pre.code-no-margin {
    margin: 0 !important;
  }

  /* Image border */

  .reveal img.border-light {
    border: 3pt;
    border-radius:3pt;
    border-color: #cbcbcb   ;
    border-style: solid;
  }

  .reveal img.border-dark {
    border: 3pt;
    border-radius:3pt;
    border-color: var(--r-heading-color);
    border-style: solid;
  }

  /* Tweak comments color */
  .hljs-comment {
    color: #5e5e5e;
  }
  /* Tweak keyword */
  .hljs-keyword {
    font-weight: 600;
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Some colors */
  .reveal .red {
    color: #C0392B;
  }
  .reveal .green {
    color: #196F3D;
  }
  .reveal .green {
    color: #196F3D;
  }

  .reveal pre, .reveal code {
    scrollbar-width: none;
  }

  .reveal kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }

</style>
